@model List<MoviesShopProxy.DomainModel.Movie>

@{ViewBag.Title = "Home Page";
}

<style>
    #moviePoster {
        position: relative;
        width: 200px;
        height: 300px;
        max-height: 100%;
        max-width: 100%;
        display: block;
        background-size: 100% 100%;
        margin: 10%;
        transition: 0.3s;
        -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        -moz-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    }

        #moviePoster:hover {
            -ms-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }

    body {
        z-index: 9999;
        text-align: center;
        align-content: center;
    }

    .background-image {
        position: fixed;
        left: -15px;
        right: 15px;
        z-index: -1;
        display: block;
        background-image: url('http://www.planwallpaper.com/static/images/6790904-free-background-wallpaper.jpg');
        width: 115%;
        height: 130%;
        -webkit-filter: blur(10px);
        -moz-filter: blur(10px);
        -ms-filter: blur(10px);
        filter: blur(10px);
    }
</style>

<body>
    
    <div class="background-image"></div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        @Html.Action("GenreDropDown", "Home", new { @class="pull-right" })
    </div>
    <div class="container-fluid">
        
        @foreach (var item in Model)
        {
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
                <a href="@Url.Action("Info","Home",new { id = item.Id })"><img id="moviePoster" src="@item.imageURL" /></a>
            </div>
        }

        
    </div>
</body>