
@{
    ViewBag.Title = "OrderFail";
}


<h2>OrderFail</h2>
<p>Please try again later</p>
@Html.ActionLink("Back to List", "Index", "Home", new { }, new { @class = "btn btn-default", @style = "float : right" })